@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 1em;
  height: 100%;
  background: #F7F6F6;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  color: #2F2F2F;
  overflow-x: hidden;

  a {
    color: #6F2680;
  }
}

// Global imports
@import "variables";
@import "grid";
@import "colors";
@import "margins";
@import "texts";

// Components styles
@import "buttons";

// Partial styles
@import "../../partials/header/header";
@import "../../partials/footer/footer";
