<section class="card card-white career">
    <h2 class="subtitle">${__('CAREER_TITLE')}</h2>
    <div class="items">
        <div class="item">
            <div class="content">
                <p class="item-title">${__('CAREER_1_TITLE')}</p>
                <p class="item-local"><a href="https://www.rentcars.com">${__('CAREER_1_LOCAL')}</a></p>
                <p class="item-time">${__('CAREER_1_TIME')}</p>
                <p class="item-description">${__('CAREER_1_DESCRIPTION')}</p>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <p class="item-title">${__('CAREER_2_TITLE')}</p>
                <p class="item-local"><a href="https://www.snowmanlabs.com.br">${__('CAREER_2_LOCAL')}</a></p>
                <p class="item-time">${__('CAREER_2_TIME')}</p>
                <p class="item-description">${__('CAREER_2_DESCRIPTION')}</p>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <p class="item-title">${__('CAREER_3_TITLE')}</p>
                <p class="item-local"><a href="https://www.bancobari.com.br">${__('CAREER_3_LOCAL')}</a></p>
                <p class="item-time">${__('CAREER_3_TIME')}</p>
                <p class="item-description">${__('CAREER_3_DESCRIPTION')}</p>
            </div>
        </div>
    </div>
</section>
