@import "../../scss/common/variables";
@import "../../scss/common/colors";
@import "../../scss/common/card";

.navbar {
  width: 285px;
  height: 400px;
  display: flex;
  flex-direction: column;
  min-width: 240px;
  position: fixed;

  &-title {
    color: #fff;
    text-decoration: underline $green;
    margin-bottom: 0;
    font-size: 1.5rem;
  }

  &-subtitle {
    color: $gray;
    font-size: 1rem;
  }

  &-social {
    display: flex;
    width: 100%;
    margin-top: 48px;
    justify-content: space-between;
    font-size: 1.5rem;
    text-decoration: none;
    color: $white;

    .fab {
      transition: .3s;
      color: $white;

      &:hover {
        color: $green;
      }
    }
  }

  &-img {
    border-radius: 150px;
    width: 150px;
    margin: 0 auto;
  }

  @include max-w($breakpoint-lg) {
    z-index: $z-index-default;
    width: 100%;
    height: 200px;
    position: absolute;
    margin-bottom: 16px;
    left: 0;
    top: 0;

    .card {
      border-radius: 0;
      flex-direction: row;
      align-items: center;
    }

    &-img {
      width: 100px;
      float: left;
      margin: 0 40px 0 0;
    }

    &-info {

    }

    &-title, &-subtitle {
      margin: 0;
    }

    &-social {
      display: none;
    }
  }

  @include mobile {
    .card {
      padding: 32px 16px;
    }

    &-img {
      margin-right: 16px;
    }
  }
}
