<header class="navbar">
    <nav class="card card-blue">
        <img src="/public/images/pic.jpg" alt="Igor" class="navbar-img">
        <div class="navbar-info">
            <p class="navbar-title">Igor G. Custodio</p>
            <p class="navbar-subtitle">${__( 'NAVBAR_SUBTITLE')}</p>
            <div class="navbar-social">
                <a href="http://instagram.com/igorgcustodio" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="http://facebook.com/igorgcustodio" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="http://linkedin.com/in/igorgcustodio" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="http://github.com/igorgcustodio" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </nav>
</header>
