<header class="container-fluid">
    <div class="container">
        <h1 class="title">Igor Guilherme Custodio</h1>
        <p class="description">${__('DESCRIPTION')}</p>
        <div class="contact">
            <div class="contact-item">
                <a href="mailto: igorgcustodio@gmail.com"
                   target="_blank"
                   class="transparent">igorgcustodio@gmail.com</a>
            </div>
            <div class="contact-item">
                <a href="https://linkedin.com/in/igorgcustodio"
                   target="_blank"
                    class="transparent">linkedin</a>
            </div>
            <div class="contact-item">
                <a href="https://github.com/igorgcustodio"
                   target="_blank"
                   class="transparent">github</a>
            </div>
            <div class="contact-item">
                <span>+55 41 9 9580-5659</span>
            </div>
            <div class="contact-item">
                <span>${__('ADDRESS')}</span>
            </div>
        </div>
    </div>
</header>
