<section class="card card-white about">
    <div class="about-photo">
        <img src="/public/images/pic.jpg" alt="Igor" class="about-photo-pic">
    </div>
    <div class="about-texts">
        <h2 class="subtitle">${__('ABOUT_TITLE')}</h2>
        <p class="general-text">${__('ABOUT_DESCRIPTION_1')}</p>
        <p class="general-text">${__('ABOUT_DESCRIPTION_2')}</p>
        <div class="about-texts-info">
            <p class="about-texts-info-item">
                <i class="fas fa-envelope icon"></i>
                <a href="mailto:igorgcustodio@gmail.com" class="email">igorgcustodio@gmail.com</a>
            </p>
            <p class="about-texts-info-item">
                <i class="fas fa-home icon"></i>
                <span>${__('ABOUT_ADDRESS')}</span>
            </p>
            <p class="about-texts-info-item">
                <i class="fas fa-language icon"></i>
                <span>${__('ABOUT_LANGUAGES')}</span>
            </p>
        </div>
    </div>
</section>
