<section class="card card-blue education">
    <h2 class="subtitle">${__('EDUCATION_TITLE')}</h2>
    <div class="items">
        <div class="item">
            <div class="content">
                <p class="item-title">${__('EDUCATION_COURSE_1_TITLE')}</p>
                <p class="item-local">${__('EDUCATION_COURSE_1_LOCAL')}</p>
                <p class="item-time">${__('EDUCATION_COURSE_1_TIME')}</p>
                <p class="item-description">${__('EDUCATION_COURSE_1_DESCRIPTION')}</p>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <p class="item-title">${__('EDUCATION_COURSE_2_TITLE')}</p>
                <p class="item-local">${__('EDUCATION_COURSE_2_LOCAL')}</p>
                <p class="item-time">${__('EDUCATION_COURSE_2_TIME')}</p>
                <p class="item-description">${__('EDUCATION_COURSE_2_DESCRIPTION')}</p>
            </div>
        </div>
    </div>
</section>
