<section class="card card-blue achievements">
    <h2 class="subtitle">${__('ACHIEVEMENT_TITLE')}</h2>
    <div class="items">
        <div class="item">
            <div class="content">
                <p class="item-title">${__('ACHIEVEMENT_1_TITLE')}</p>
                <p class="item-local">${__('ACHIEVEMENT_1_LOCAL')}</p>
                <p class="item-time">${__('ACHIEVEMENT_1_TIME')}</p>
                <p class="item-description">${__('ACHIEVEMENT_1_DESCRIPTION')}</p>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <p class="item-title">${__('ACHIEVEMENT_2_TITLE')}</p>
                <p class="item-local">${__('ACHIEVEMENT_2_LOCAL')}</p>
                <p class="item-time">${__('ACHIEVEMENT_2_TIME')}</p>
                <p class="item-description">${__('ACHIEVEMENT_2_DESCRIPTION')}</p>
            </div>
        </div>
    </div>
</section>
