@import "common/variables";
@import "common/colors";

.app {
  display: flex;
  position: relative;

  .scroll {
    width: 100%;
    max-width: calc(100% - 381px);
    margin-left: 317px;

    .card {
      margin-bottom: 32px;
    }
  }

  @include max-w($breakpoint-lg) {
    flex-direction: column;
    padding-top: 136px;

    .scroll {
      position: relative;
      max-width: unset;
      padding: 0;
      margin-left: 0;
    }
  }
}


